html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 40px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

.navbar {
  display: flex;
  background-color: #333;
  background-image: url("Images/brick.png");
  background-repeat: repeat-x;
  background-size: contain;
}

.navbar a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 20px;

}

.navbar a:hover {
  background-color: yellow;
  color: black;
  opacity: 0.5;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 40%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 60%;
  padding: 20px;
}



.footer {
  padding: 20px;
  text-align: center;
  color: white;
  background-image: url("Images/footer.jpg");
  background-size: contain;
}

#mp {
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  text-align: justify;
  margin: 5px;
}

h5 {
  font-family: Lucida Console;
  text-align: left;
}

sig {
  font-size: 70px;
  font-family: 'Brush Script MT', cursive;
}
